<header class="header" id="header">
  <nav class="navbar navbar-light fixed-top">
    <div class="container">
      <a href="./index.html" class="navbar-brand">
        <%= image_tag "img/nclogo.png", class:"obj_fit_contain" %>
      </a>
				<div class="header_links lol">
					<li class="link_item">
						<a class="nav-link lol" href="#">
								Employers Zone
						</a>
					</li>
					<li class="link_item">
						<%= link_to "professtionals", professionals_path, class: "nav-link" %>
					</li>
					<li class="link_item">
						<a class="nav-link" href="#">
								Resources
						</a>
					</li>
					<li class="link_item">
						<a class="nav-link" href="#">
								About
						</a>
					</li>
					<li class="link_item">
						<a class="nav-link" href="#">
								Corporate Careers
						</a>
					</li>
					<li class="link_item">
						<a class="nav-link" href="#">
								Contact
						</a>
					</li>
					<li class="link_item">
						<a class="nav-link" href="#">
								Resources
						</a>
					</li>
				</div>
					<div class="d-flex gap-2 align-items-center">
						<li><a href="./sign_up" class="theme_btn text-white">Sign Up</a></li>
						<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
						aria-labelledby="offcanvasDarkNavbarLabel">
						<div class="offcanvas-header">
							# <h5 style="width:100px;" class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="./frontend/img/nclogo.png" class="obj_fit_contain" alt=""></h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
								<li class="link_item">
									<a class="nav-link active" aria-current="page" href="#">
											Facilities
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											Professionals
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											Resources
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											About
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											Corporate Careers
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											Contact
									</a>
								</li>
								<li class="link_item">
									<a class="nav-link" href="#">
											Resources
									</a>
								</li>
							</ul>
						</div>
					</div>
        </div>
    </nav>
</header>




