


/* ALL FONTS */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+Lepcha&display=swap');
@font-face {
    font-family: Muli;
    src: url(../font/muli/Muli.ttf);
}
/* ALL FONTS */




/* Header */
.header{
    font-family: 'Noto Sans Lepcha', sans-serif;
    border-bottom: 1px solid #f4f4f4;
}
.navbar-brand{
    cursor: pointer;
    height: 60px;
    width: 80px;
}
.navbar-brand.emplayer-navbrand{
    width: 240px;
    padding: 0;
    margin: 0;
}
.header .navbar-brand h3{
    font-family: 'Tilt Warp', cursive;
    font-size: 30px;
}
.header .navbar-brand h3 span{
    color: var(--theme-secondry-color);
}
.header_links{
    display: flex;
    align-items: center;
}
.header_links li{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.6px solid transparent;
    transition: all .2s ease;
    padding: 0.5rem 1rem !important;
}
.header_links .link_item:hover{
    border-bottom: 1.6px solid var(--theme-secondry-color);
}
header .navbar a{
    font-size: var(--theme-font16);
    color: var(--theme-font-color);
    margin-top: 5px;
}
.navbar{
    padding: 0;
    height: 85px;
}
.navbar>.container{
    height: 100%;
}
.navbar-brand{
    padding: 0;
}
.header .navbar-toggler{
    display: none;
    border: 0;
    outline: 0;
    box-shadow: none;
}
.header .btn-close-white{
    filter: none;
}


/* hero banner */
.hero-banner{
    background-repeat: no-repeat;
    background-position: 100% 25%;
    background-size: cover;
    position: relative;
}
.hero-banner::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner_img{
    object-position: 100% 18%;
}
.hero-banner h1{
    font-family: 'Tilt Warp', cursive;
    color: var(--theme-white);
}
.job_search_inner{
    display: flex;
    gap: 10px;
    height: 50px;
}
.job_search_inner .input_wrap{
    width: 43%;
    position: relative;
}
.job_search_inner .input_wrap .label_icon{
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}
.job_search_inner .input_wrap .label_icon label{
    font-size: var(--theme-font14);
    font-weight: 600;
    color: var(--theme-font-color);
}
.job_search_inner .input_wrap input{
    width: 100%;
    height: 100%;
    padding-left: 100px;
}
.job_search_inner .input_wrap:nth-child(2) input{
    padding-left: 120px;
}
.search_btn{
    width: 12%;
}
.search_btn button{
    height: 100%;
    border: 0;
    color: var(--theme-white);
    background-color: var(--theme-secondry-color);
}
.banner_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    z-index: 2;
}
.banner_content p{
    color: var(--theme-white);
    font-size: 26px;
}



/* what_we_do_and_why_do */
.sec_heading{
    font-family: 'Tilt Warp', cursive;
    font-size: 30px;
}
.sec_heading p{
    font-family: 'Noto Sans Lepcha', sans-serif;
    font-size: var(--theme-font18);
}
.what_we_do .row img{
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.what_we_do .row p{
    font-family: 'Noto Sans Lepcha', sans-serif;
    font-size: var(--theme-font16);
    margin: 0 20px;
}
.why_we_do{
    background-color: #f4f4f4;
}
.why_we_do_wrap h3{
    max-width: 445px;
}
.heading-h3{
    font-family: 'Tilt Warp', cursive;
    font-size: 45px;
}
.heading-h4{
    font-family:'Noto Sans Lepcha', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.count{
    font-family: 'Tilt Warp', cursive;
    font-size: 25px;
}
.side_by_img_size{
    width: 100%;
    height: 550px;
}


/* value */

.tabs-values .count{
    font-size: var(--theme-sub-title-size);
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 20px;
}
.tabs-values .count:after{
    content: "";
    position: absolute;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
    left: 0;
}
.tabs-values


/* get started */   

.get-started_btns{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.get-started_btns a{
    padding: 10px 20px;
    width: 220px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    font-size: var(--theme-font18);
}
.get-started_btns a:nth-child(1){
    background-color: var(--theme-primay-color);
}
.get-started_btns a:nth-child(2){
    background-color: var(--theme-secondry-color);
}
.get-started .nav-tabs .nav-link{
    flex-grow: 1;
    padding: 20px 0;
    color: var(--theme-primay-color);
    background-color: var(--theme-secondry-color);
    border: 0;
    /* border-radius: 5rem; */
}
.get-started .nav-tabs .nav-link.active{
    background-color: var(--theme-primay-color);
    color: #fff;
}
.home_tab_content, .tabform{
    padding: 30px 100px;
}
.home_tab_content ul li{
    list-style: circle;
}
.home_tab_content .count{
    font-weight: 400;
    font-family: 'poppins';
    font-size: 22px;
}
.tabform input{
    height: 55px;
    border-radius: 0;
    background: #f4f4f4;
    border-color: var(--theme-primay-color);
    border-width: 1px;
}
.tabform input:focus{
    outline:1px solid  var(--theme-secondry-color);
    box-shadow: none;
}
.tabform input::placeholder{
    color: var(--theme-primay-color);
}
.tab-content .theme_btn{
    height: 55px;
}
/* FIND JOB */

.find-job{
    background-color: #f3f3f3;
}
.find-job h1{
    color: var(--theme-primay-color);
}
.find-job .banner_content p{
    color: var(--theme-primay-color);
}
.find-job .job_search_inner .input_wrap input{
    outline: 1px solid var(--theme-secondry-color) !important;
}


/* job list */
.job_wrap{
    position: relative;
    border: 1px solid #e7cbcb;
    padding: 14px;
    border-radius: 6px;
}
.job_status{
    font-size: var(--theme-font14);
}
.job_title{
    margin-bottom: 10px;
}
.company_name{
    margin-bottom: 10px;
}
.job_location{
    margin-bottom: 10px;
}
.job_timing_and_salary{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.tag{
    padding: 6px 14px;
    border-radius: 30px;
    display: flex;
    gap: 7px;
    align-items: center;
    background-color: #f4f4f4;
}
.tag b{
    font-size: var(--theme-font14);
}
.tag img{
    width: 16px;
    height: 16px;
}
.job_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 14px;
    position: relative;
}
.job_tags span{
    background-color: #f4f4f4;
    padding: 5px 12px;
    font-size: var(--theme-font14);
}
.apply_now_wrap{
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    gap: 10px;
}
.apply_now_wrap a{
    color: var(--theme-white);
}
.job_specialties.job_tags:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    background: #f4f4f4;
}

/* search_result  */

.search_result_inner{
    background-color: var(--theme-secondry-color);
    display: flex;
    align-items: center;
    min-height: 60px;
    border-radius: 6px;
    /* color:--theme-title-color; */
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}
.search_result_inner>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.search_result_inner b, .search_result_inner span{
    font-size: var(--theme-font16);
}





/* job details */
.job_disc .company_profile{
    width: 100px;
    height: 90px;
}
.job_disc .company_profile img{
    border-radius: 4px;
}
.job_disc .company_profile_btn .theme_btn{
    width: 140px;
    display: block;
}
.job_disc .heading-h3{
    font-size: 28px;
    margin-top: 20px;
}
.company_name_wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.job_disc_inner{
    border: 1px solid #e7cbcb;
    padding: 14px;
}
.job_type{
    border-bottom: 1px solid #e7cbcb;
}
.job_type_item{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.job_type_item:first-child{
    margin-top: 0;
}
.job_type_item span{
    background-color: #F4F4F4;
    font-size: var(--theme-font14);
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}
.heading_block{
    border-bottom: 1px solid #e7cbcb;
}
.heading_block{
    padding: 15px 0;
    padding-left: 5px;
}
.job_disc_inner li{
    list-style: circle;
}
.company_header{
    background-color: var(--theme-secondry-color);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}
/*  */
  
/* Step form */
.step{
    border: 1px solid #f2dbdb;
    padding: 20px;
}
.step .input_wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.step .input_wrap label{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.step .input_wrap input{
    height: 50px;
    border: 1px solid #f2dbdb;
}
.step h2{
    margin-bottom: 40px;
}
.nextBtn{
    border: 0;
    background-color: transparent;
}
.nextBtn img{
    width: 30px;
    height: 30px;
}

.chevron {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    background-color: var(--theme-primay-color);
}
.chevron:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 2px 0 0;
    position: absolute;
    -moz-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    -webkit-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
}
.chevron.right:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -11px 0 0 -15px;
}
.chevron.circle {
    background: rgba(233, 233, 180, 0.75);
    background-color: var(--theme-primay-color);
    border-radius: 3px;
}
.chevron.left:before {
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -11px 0 0 -7px;
}

/* PROFESSTIONALS */
.profession_content .count::after{
    display: none;
}
.job_item_title{
    margin-bottom: 25px;
}
.job_item_title p{
    font-weight: 700;
    min-height: 68px;
}
.job_item-btn a{
    width: 150px;
    height: 55px;
}


/* sign in wrap */

#sign_in_wrap{
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: green;
}
#sign_in_wrap .container-fluid, #sign_in_wrap .row{
    height: 100%;
}
.sign_in_left, .sign_in_right{
    height: 100%;
}
.sign_in_left{
    background: rgb(3,14,79);
    background: linear-gradient(90deg, rgba(3,14,79,0.9893207282913166) 100%, rgba(8,15,117,1) 100%);
}
.signup-slider, .signup-slide{
    height: 100%;
}
.signup-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.signup_overlay{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 10;
    background: #f4f4f4bd;
    padding: 20px;
    border-radius: 10px;
}
.all-skill-wrapper{
    max-height: 400px;
    overflow-y: auto;
}
.p-sticky{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}
/* .signup-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*  */
  #sign_in_wrap{
    width: 100%;
    height: 100vh;
    background-image: url(https://learnwithomar.org/img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  
  }
  .signin-left {
    background: linear-gradient(-45deg, #1D1CE5, #030E4F, #000000, #030E4F);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
      display: flex;
      align-items: center;
  }
  .signin-right{
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 58px;
    overflow-y: auto;
    max-height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .sign_in_left{
    position: relative;
  }
  .signin-left h2{
    color: white;
    margin-bottom: 32px;
    font-size: 32px;
  }
  .signin-left p,
  .signin-left p a{
    color: white;
  }
  .signin-right h2{
    font-size: 32px;
    color: black;
  }
  .login-wrapper .container{
    overflow: hidden;
  }

  .brand-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .info_item{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .info_item img{
    width: 30px;
    margin-top: 5px;
  }
  .info-title{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
  }
  .info-disc{
    flex-grow: 1;
  }
  .info-disc span{
    font-size: 16px;
    line-height: 30px;
    color: #0000009e;
  }
  .info_from_user{
    padding: 30px 0;
  }
  .back-icon .close-icon{
    right: unset;
    left: -44px;
    top: -40px;
  }
  .close-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: absolute;
    right: 60px;
    top: 30px;
    cursor: pointer;
  }
.input__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
}
.input__wrap h3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.sign_in_right .form-floating>label, .sign_in_right .form-floating>label {
    position: absolute;
    top: -9px;
    left: -4px;
}
.sign_in_right .form-floating .form-select:focus{
    box-shadow: none;
}
.file-upload {
    position: relative;
    font-size: 18px;
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
  
.file-upload label {
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: 2px dashed #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 65%;
    font-size: 16px;
}
  
  .file-upload label:hover {
    background-color: #f5f5f5;
    border-color: #aaa;
  }
  
  .file-upload label i {
    margin-right: 10px;
  }
  
  .file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .file-upload input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .file-upload input[type="file"]::before {
    content: 'Select file';
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 12px;
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .file-upload input[type="file"]:hover::before {
    background-color: #f5f5f5;
    border-color: #aaa;
  }
  .country-select{
    width: 100%;
  }
  .country-select.inside .selected-flag, .country-select.inside .flag-dropdown{
    width: 100%;
  }
  .country-select .country-list{
    width: 100%;
  }
  .all-country-dropdown input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .flag-dropdown:hover{
    background-color: transparent;
  }
  .all-country-dropdown label{
    top: -24px !important;
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
  }
  .file-upload input[type="file"]:active::before {
    background-color: #eee;
  }
  
  .file-upload .file-name {
    visibility: hidden;
    opacity: 1;
    margin:0px auto;
    width: 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #333;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
  }
.hospitals_worked_wrap{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}
.hospitals_worked_wrap .input_for_hospital,
.hospitals_worked_wrap .input_for_dates{
    width: 50%;
}
.genral-icon{
    width: 30px;
}
.remove-icon{
    position: absolute;
    width: 20px;
    left: 0;
    top: -24px;
}
.all-hopitals-data{
    max-height: 600px;
    overflow-y: auto;
    /* min-height: 200px; */
    min-height: 250px;
    overflow-y: auto;
    /* box-shadow: 1px 1px 10px #f4d4d4; */
    border-radius: 6px;
    padding: 10px;
}
.sign_in_right .all-hopitals-data .form-floating>label, .sign_in_right .form-floating>label {
    left: 0;
}
.specialty-experince_wrap select{
    cursor: pointer;
}
.worked-hospitls{
    height: 95%;
}
.selected-countries{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}
.selected-countries button{
    background: transparent;
    border: 0;
    display: flex;
    gap: 10px;
    padding: 16px 0px;
    align-items: baseline;
    width: 165px;
}
.selected-countries button span{
    font-size: 16px;
}
#selected-countries{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}
.selected-countries button img{
    width: 15px;
}
.selected-country{
    background: #f4f4f4;
    color: #5a4040;
    display: inline-block;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-size: 14px;
    min-width: 70px;
}
.countries-menu{
    padding: 15px;
    background: #f4f4f4;
    border-radius: 7px;
    margin-top: 10px;
    /* display: none; */
}
.selected-country i{
    cursor: pointer;
}
.countries-menu .checkbox-wrapper-13{
    margin-bottom: 15px;
}
.countries-menu .checkbox-wrapper-13:last-child{
    margin-bottom: 0;
}
.countries-menu .checkbox-wrapper-13 label{
    font-size: 14px;
}
.addition-info{
   margin-bottom: 40px;
}
.addition-info label{
    font-size: 16px;
}
.addition-info input::placeholder{
    font-style: italic;
    font-size: 12px;
}
.quik-question-ask_head_title{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-left: auto;
}
.quik-question-ask_head_title>div{
    min-width:70px;
}
.quik-question_anwser>div{
    min-width:70px;
}
.quik-question_wrapper{
    display: flex;
}
.quik-question{
    width: 70%;
}
.quik-question_anwser{
    width: 30%;
    justify-content: flex-end;
    display: flex;
}
.quik-question p{
    font-size: 16px;
}
.Upload-document-wrap>div{
    display: none;
}
.reference_screen .input__wrap{
    max-height: 592px;
    overflow-y: auto;
}



.avatar-upload {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
  }
  .avatar-upload .avatar-edit {
    /* position: absolute; */
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit  label {
    margin-bottom: 0;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: #212529;
    color: #fff;
    border-radius: 5px;
    width: 27px;
    height: 27px;
  }
  .avatar-upload .avatar-edit  label img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .avatar-edit label{
    font-weight: 700;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .required_documents{
    max-height: 255px;
    overflow-y: auto;
    padding: 20px 0;
  }
  .contract_wrapper{
    max-height: 500px;
    overflow-y: auto;
  }
  .contract_wrapper p,
  .contract_wrapper li,
  .contract_wrapper b{
    font-size: 16px;
  }
  .signture-part img{
    width: 150px;
    height: 60px;
    object-fit: contain;
  }
  .twitter-typeahead{
    width: 100%;
  }
  .tt-menu{
    top: 110%;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    background-color: #f4f4f4;
    display: block;
    max-height: 150px;
    overflow-y: auto;
  }
  .tt-suggestion {
    padding: 10px;
    font-size: 14px;
  }



/* Login for emplayer */
/*-------------------- 23. Login ------------------- */

.login-area {
    background: #F3F8FB;
}

.login-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.login-box form {
    margin: auto;
    width: 450px;
    max-width: 100%;
    background: #fff;
    border-radius: 3px;
}

.login-form-head {
    text-align: center;
    background: #8655FC;
    padding: 50px;
}

.login-form-head h4 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
    color: #fff;
}

.login-form-head p {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.login-form-body {
    padding: 50px;
}

.form-gp {
    margin-bottom: 25px;
    position: relative;
}


.icon-input i {
    position: absolute;
    right: 5px;
    color: #7e74ff;
    font-size: 16px;
}

.submit-btn-area {
    text-align: center;
}

.submit-btn-area button {
    width: 100%;
    height: 50px;
    border: none;
    color: #585b5f;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: var(--theme-primay-color);
    color: #fff;
}

.submit-btn-area button:hover {
    background: var(--theme-white);
    color: var(--theme-font-color);
}

.submit-btn-area button i {
    margin-left: 15px;
    -webkit-transition: margin-left 0.3s ease 0s;
    transition: margin-left 0.3s ease 0s;
}

.submit-btn-area button:hover i {
    margin-left: 20px;
}

.login-other a {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 43px;
    line-height: 43px;
    border-radius: 40px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
}

.login-other a i {
    margin-left: 5px;
}

.login-other a.fb-login {
    background: #8655FC;
    color: #fff;
}

.login-other a.fb-login:hover {
    box-shadow: 0 5px 15px rgba(44, 113, 218, 0.38);
}

.login-other a.google-login {
    background: #fb5757;
    color: #fff;
}

.login-other a.google-login:hover {
    box-shadow: 0 5px 15px rgba(251, 87, 87, 0.38);
}

.form-footer a {
    margin-left: 5px;
}

/* login-s2 */

.login-s2 {
    background: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.login-s2:before {
    content: '';
    position: absolute;
    height: 206%;
    width: 97%;
    background: #fcfcff;
    border-radius: 50%;
    left: -42%;
    z-index: -1;
    top: -47%;
    box-shadow: inset 0 0 51px rgba(0, 0, 0, 0.1);
}

.login-s2 .login-form-head,
.login-s2 .login-box form,
.login-s2 .login-box form .form-gp input {
    background: transparent;
}

.login-s2 .login-form-head h4,
.login-s2 .login-form-head p {
    color: #444;
}



/* main company profile wrap */
.emplayer_main_content p,
.emplayer_main_content span,
.emplayer_main_content li,
.emplayer_main_content button,
.emplayer_main_content a{
    font-size: var(--theme-font16);
}
.company_cover_photo{
    width: 100%;
    height: calc((100vw - 240px)/6.2 - 1px);
    background-image: url(../img/nobanner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.company_cover_photo::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.employer_logo{
    width: 100px;
    flex-shrink: 0;
    border: 2px solid #333;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
}
.company_logo_info{
    border-bottom: 1px solid #0000002e;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px 25px 0 25px;
}
.profile_tabs .nav-link{
    border-radius: 0;
    color: var(--theme-font-color);
    border-bottom: 2px solid transparent;
    font-weight: 600;
    color: #6c757d;
}
.profile_tabs .nav-link.active{
    background-color: transparent;
    border-bottom: 2px solid #000;
    color: #000;
}
.comapny_logo_wrap{
    display: flex;
    gap: 20px;
    align-items: start;
}
.pofile-img-rounded{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}
.employer_name{
    padding-top: 10px;
}
.employer_name h4{
    font-family: 'Noto Sans Lepcha';
}
.employer_name p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px !important;
    line-height: 20px;
}
.profile_tabs{
    padding-top: 25px;
}
.company_side_wrapper{
    display: flex;
}
.company-profile_left{
    width: 20%;
}
.company-profile_right{
    width: 100%;
}
.employer_name{
    max-width: 700px;
}


/*  */

 /* -------------- CONTAINER -------------- */
 .main-employer_content {
    display: flex;
    min-height: 100vh;
}
/* -------------- SIDEBAR -------------- */
.sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #fff;
    border-right: 1px solid #F3F5F7;
    padding: 0 12px;
    overflow: auto;
    position: fixed;
    left: 0;
    height: calc(100% - 85px);
    z-index: 1000;
    transition: all .3s linear;
}
.sidebar.hide{
    left: -240px;
}
.side-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.side-nav__header {
    font-size: 14px;
    line-height: 21px;
    color: #90A3BF;
    padding-bottom: 10px;
    display: inline-block;
}
.side-nav__header,
.side-nav__item>span {
    font-weight: 500;
    font-size: 14px;
}
.side-nav__item {
    list-style: none;
    color: #596780;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 3px 14px 12px;
    border-radius: 10px;
    transition: all .4s;
    cursor: pointer;
    white-space: nowrap;
}
.side-nav__item>img {
    flex-shrink: 0;
    width: 15px;
}
.side-nav__item:not(:last-child) {
    margin-bottom: 4px;
}
.side-nav__item:hover,
.side-nav__item-active {
    background-color: var(--theme-primay-color);
    color: white;
}
/* -------------- MAIN CONTENT -------------- */
.emplayer_main_content {
    display: flex;
    width: 100%;
    overflow: auto;
    width: calc(100% - 240px);
    margin-left: auto;
    transition: all .3s linear;
}
.emplayer_main_content.expand{
    width: 100%;
}
.company-email{
    font-size: 12px !important;
    margin-top: -1px;
    display: block;
    padding-left: 2px;
}
.search-box {
    flex-grow: 1;
    max-width: 700px;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #ccc;
}
  
.search-input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #ffff;
    color: #6c6c6c;
    border-radius: 3px;
    border: none;
    transition: all .4s;
    height: 50px;
}

.search-input:focus {
    border-color:var(--theme-primay-color);
    outline:none;
}

.search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
}
.search-btn i{
    color: var(--theme-primay-color);
}
.search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}
.search-btn:focus {
    outline:none;
    color:black;
}
.menu_toggle_btn{
    background-color: transparent;
    border: 0;
    padding: 0;
}
.menu_toggle_btn img{
    width: 40px;
}
.employer_profile-dropdown, .employer_notification-dropdown{
    position: relative;
}
.notification{
    border: 1px solid #C3D4E9;
    background-color: transparent;
    position: relative;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    top: -2px;
    right: 3px;
}
.w-40-rounded{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.employer_notification-dropdown .genral-icon{
    cursor: pointer;
}
.profile-dropdown{
    background-color: #fff;
    box-shadow: 0 0 45px 0 rgba(131, 23, 254, 0.06);
    border-radius: 7px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    max-width: 200px;
    display: none;
}
.employer_notification-dropdown .profile-dropdown{
    top: 40px;
}
.profile-dropdown li{
    background-color: #f4f4f4;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 6px;
    transition: all .3s ease-in-out;
}
.profile-dropdown li:last-child{
    margin-bottom: 0;
}
.profile-dropdown li a{
    color: #333;
    font-size: var(--theme-font16);
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.profile-dropdown li i{
    color: #7D7D7D;
}
.profile-dropdown li:hover{
    background-color: var(--theme-primay-color);
}
.profile-dropdown li:hover a, .profile-dropdown li:hover i{
    color: #ffff;
}
/*  */

.company_work_space{
    padding: 20px 25px 0 25px;
}
.job-action button{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}
.job-action .dropdown-toggle::after{
    display: none;
}
.dropdown-menu.show{
    inset: 0px auto auto -120px !important;
}
.search_result_inner .search-box{
    flex-grow: unset;
    max-width: unset;
    margin: 0;
    border: 0;
    width: 350px;
}
.search_result_inner .search-box input{
    border-radius: 30px;
}
.company_work_space .search_result_inner{
    border-radius: 35px;
    background-color: #000;
    padding: 10px 13px 10px 30px;
}
.job_discription_wrap{
    max-height: 450px;
    overflow-y: auto;
}
.job_discription_wrap ul li{
    list-style:circle;
}